.botones{
  width: 100px;
  background-color: #313D4F;
  border: none;
  color: #b0b4bb;
  &&:hover{
    background-color: #b0b4bb;
    color: #313D4F;
  }
  &&::placeholder{
    color: #b0b4bb;
  }
}

#descripcion-proyecto{
  height: 60px;
}

.contenedores-formulario{
  min-height: 250px;
}

#fecha-proyecto{
  color: #b0b4bb;
}