.form {
    justify-content: space-between;
}
.form input{
    border-radius: 5px;
    border: 0px;
    background-color: rgba(26, 41, 62, 0.8);
    color: white;
    text-align: center;
}

.form input::placeholder {
color:white;
}

.form button{
    background-color: rgba(26, 41, 62, 0.8)
}