.item {
    justify-content: space-between;
    color:white;
    background-color: rgba(26, 41, 62, 0.8);
}

.item p {
    margin: 0;
    padding: 0;
}

.action {
  color: #636a75;
  cursor: pointer;
  &&:hover{
    text-decoration: underline;
  }
}